:root {
    --top-color: #e3e8f4;
    --border-color: #87898c;
    --white--color: #fff;
    --primary-color: #012e50;
    --black-color: #000;
    --height-top: 40px;
}

* {
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
}

html {
    line-height: 1.8rem;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.my-btn {
    width: 105px;
    padding: 7px 0px;
    background-color: #8b8b8b;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: var(--white--color);
    cursor: pointer;
}
