.form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    font-size: 1rem;
}

.form__top {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    height: 40px;
    background-color: var(--top-color);
}

.form__top--item {
    cursor: pointer;
}

.form__top--item:nth-child(2) {
    margin-left: auto;
    margin-right: 15px;
}

.form__top--item:nth-child(3) {
    padding: 2px 15px;
    margin-right: 15px;
    border: 2px solid var(--border-color);
}

.form__left {
    position: relative;
}

.form__left--img {
    height: calc(100vh - var(--height-top));
    width: 100%;
    object-fit: cover;
}

.form__left--sign {
    width: 337px;
    height: 337px;
    position: absolute;
    color: var(--white--color);
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background-color: var(--black-color);
    animation: form-sign ease-in-out;
    animation-duration: 0.5s;
}

@keyframes form-sign {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.form__left-sign::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 50px;
    width: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white--color);
}

.form__left--sign .form__left--sign--wrap h2 {
    padding: 0px 25px;
    text-align: center;
    margin-top: 80px;
}

.form__left--sign .form__left--sign--wrap h4 {
    padding: 0px 45px;
    margin-top: 15px;
    line-height: 1.8rem;
    text-align: center;
}

.btn-register {
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-size: 1rem;
    padding: 12px 10px;
    transform: translateX(-50%);
    background-color: #ff521c;
    cursor: pointer;
}

.form__right {
    padding: 0px 53px;
    font-size: 1.3rem;
    margin: auto 0px;
    opacity: 1;
    animation: form__right ease-in-out;
    animation-duration: 1s;
}

@keyframes form__right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form__right span:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form__right--input:nth-child(3) {
    margin-top: 20px;
}

.form__right--input {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    margin-bottom: 15px;
}

.form__right--input input {
    flex: 1;
    margin-left: 10px;
    border: 0px solid #000;
}

.form__right--input input:focus {
    outline: none;
}

.form__right--check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form__right--check div {
    cursor: pointer;
    color: var(--primary-color);
}

.form__right--check div:nth-child(1) {
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.form__right--check div:nth-child(2) {
    margin-left: 10px;
}

.form__right--check div:nth-child(3) {
    margin-left: auto;
}

.form__right span:nth-child(7) {
    color: #0024d0;
    cursor: pointer;
}

.btn-wrap {
    display: flex;
    margin-top: 20px;
}

.register {
    background-color: #4c4c4c;
    margin-left: 30px;
    margin-left: auto;
}

.scroll-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(139, 139, 139, 0.5);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}

.scroll-top i {
    font-size: 2.5rem;
    color: var(--white--color);
}
