@media only screen and (max-width: 1124px) {
    .form {
        grid-template-columns: 65% 35%;
    }
}

@media only screen and (max-width: 994px) {
    .form {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    .form {
        display: block;
    }

    .form__right {
        padding: 30px 18px;
    }

    .scroll-top {
        display: none;
    }
}
